<html>
<head>
    <title>Hello Python Grader</title>

</head>
<body>
    
    <h1> Hello Grader</h1>

    <h2> See Submissions : <a href="./submission/" target="_blank">here</a> </h2>
    
    <h3> For Admin : <a href="./admin/" target="_blank">here</a> </h2>
    <pre> คำเตือน : ไม่ต้องลองของนะครับ server พังแน่นอน ( พี่ลองให้แล้ว )</pre>
        
    <h2> Problem </h2>
    {% if l %}
        <ul>
        {% for problem in l %}
            <li><a href="/problem/{{ problem.id }}/"  target="" >{{ problem.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}



</body>
</html>