<!DOCTYPE html>
<html>
<head>
	<title>Hello Python Grade</title>
	<style type="text/css">
		pre {
		    white-space: pre-wrap;       /* CSS 3 */
		    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		    white-space: -pre-wrap;      /* Opera 4-6 */
		    white-space: -o-pre-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
	</style>
</head>
<body>
	<h1> {{p.name}}</h1>
	<h3> Description : </h3>
	<pre> {{p.description}}</pre>
	<h2> Time Limit : {{p.time_limit}} sec</h5>

	<form action='{% url "submit" %}' method='POST' enctype='multipart/form-data'>
	  {% csrf_token %}
	  user : <input type='text' name='name' value = '{{ user.get_full_name }}'>
	  <input type='hidden' name='problem_id' value='{{p.id}}' >
	  <br>
	  <input type='file' name='submit_file'>

	  <br>
	  <input type='submit' value='Submit'>
	</form>

	<!--form method="post" action="">
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
	</form-->
</body>
</html>

