<html>
<head>
    <title>Hello Python Grader</title>
</head>
<body>
    
    <h1> #{{sid}} {{submission}}</h1>
    <h1> {{problem}}</h1>
    <h3> Verdict : {{verdict}} </h1>
    <pre>Result : {{description}}</pre>
</body>
</html>