<html>
<head>
    <title>Hello Python Grader</title>
    <style type="text/css">

        *
        {
            font-family: monospace;
        }
    </style>
</head>
<body>
    
    <h1> Submission</h1>
        
    {% if l %}
        <table>
        {% for sub in l %}
            <tr> 

                <td> <a href="/submission/{{sub.id}}/"> {{sub.id }} </a> </td>
                <td><a href="/user/{{ sub.user }}/">{{ sub.user }}</a></td>
                <td> {{ sub.verdict }}</td>
                <td><a href="/problem/{{ sub.problem.id }}/"  target="_blank" >{{ sub.problem.name }}</a></td>
            </tr>
        {% endfor %}
        <table>
    {% else %}
        <p>submission not found.</p>
    {% endif %}
</body>
</html>