

<h1> Problem : {{p.name}}</h1>
<h3> Description : {{p.description}}</h3>
<h5> Time Limit : {{p.time_limit}} sec</h5>


<form action='{% url "submit" %}' method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  Problem ID : <input type='hidden' name='problem_id' value='{{p.id}}' >
  <br>
  <input type='file' name='submit_file'>

  <br>
  <input type='submit' value='Submit'>
</form>