<html>
<head>
    <title>Hello Python Grader</title>
</head>
<body>
    
    <h1> Hello Python Grader</h1>
        
<ul>

        {% for Name,Type,Des,Check,time_limit,results in result %}
            <li>            
                <h1> {{Name}}</h1>
                <h3> type : {{Type}}</h3>
                <h3> des : {{Des}}</h3>
                <h4> checker : {{Check}}</h4>
                <h5> time limit : {{time_limit}} sec</h5>
                <table border=1px>
                <thead>
                    <th> input </th>
                    <th> output </th>
                    <th> expect </th>
                    <th> time (ms) </th>
                    <th> Result </th>
                </thead>    
                <tbody>
                {% for r in results %}
                    <tr>
                        <td style='text-align:center;width:200;'> {{r.input }}</td>
                        <td style='text-align:center;width:200;'> {{r.output}}</td>
                        <td style='text-align:center;width:200;'> {{r.expect}}</td>
                        <td style='text-align:center;width:200;'> {{ r.time }}</td>
                        <td style='text-align:center;width:200;'> {{r.status}}</td>
                        
                    </tr>
                {% endfor %}
                </tbody>

                </table>
            </li>
        {% endfor %}
    </ul>    
</body>
</html>